* {
  box-sizing:border-box:
}

body {
  margin:0;
  padding:0;
  font-family:sans-serif;
  color:#222;

  max-width:650px;
  margin:0 auto;
  padding: 16px;
}

footer {
  border-top: 1px solid #eee;
  margin-top:30px;
  padding:16px 0;
}

header li, header a {
  display:inline-block;
  margin:2px 10px;
}

header a {
  text-decoration:none;
}

header h1 {
  font-size:4rem;
}

header .heading {
  display:flex;
}

input {
  border: 1px solid #ccc;
  padding:8px;

}

button {
  cursor:pointer;
  border: 1px solid #444;
  background:#444;
  color:#fff;
  padding:8px;
}